/* Phone CSS */

.navbar .max-width ul{
    display: flex;
    flex-wrap: nowrap;
}

/* Home */
#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}

/* About */
#pic img{
    width: auto;
    height: 300px;
}
#intro h2{
    display: inline-flex;
    align-content: center;
    font-size: 2rem;
}
#about{
    padding: 0 10px;
}

#intro{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 10px;
}

#intro p{
  margin-left: 0px;
  margin-bottom: 40px;
}



/* Portfolio */
.gallery img{
    width: 250px;
    height: 150px;
    margin: 10px;
}

/* Contact */
.social-icons{
  display: flex;
  padding: 0px;
  background-color: palevioletred;
  justify-content: center;
}
.social-icons .fa-brands:hover{
  cursor: pointer;
  box-shadow: 0 0 10px pink;
}
.social-icons .fa-brands{
  color: white;
  font-size: 40px;
  margin: 20px;
}
.social-icons .fa-solid:hover{
  cursor: pointer;
  box-shadow: 0 0 10px pink;
}
.social-icons .fa-solid{
  color: white;
  font-size: 40px;
  margin: 20px;
}